// 站点主色
$--color-primary: #3f8ef7;
$navbar--background-color: $--color-primary;
$sidebar--background-color-dark:#181922; // #263238;
$sidebar--color-text-dark: rgba(163,175,183,.9);
$content--background-color: #fff;
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;
  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}
img {
  vertical-align: middle;
}

/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


/* Reset element-ui
------------------------------ */
.jp-wrapper {
  .el-pagination {
    margin-top: 15px;
    text-align: right;
  }
}


/* Layout
------------------------------ */
.jp-wrapper {
  position: relative;
  min-width: 736px;
  background: #f1f2f5
}
.min300 {
  min-width: 300px;
}

/* Sidebar fold
------------------------------ */
.jp-sidebar--fold {
  .jp-navbar__header,
  .jp-navbar__brand,
  .jp-sidebar,
  .jp-sidebar__inner,
  .el-menu.jp-sidebar__menu {
    width: 64px;
  }
  .jp-navbar__body,
  .jp-content__wrapper {
    margin-left: 64px;
  }
  .jp-navbar__brand {
    &-lg {
      display: none;
    }
    &-mini {
      display: inline-block;
    }
  }
  .jp-sidebar,
  .jp-sidebar__inner {
    overflow: initial;
  }
  .jp-content--tabs > .el-tabs > .el-tabs__header {
    left: 64px;
  }
}
// animation
.jp-navbar__header,
.jp-navbar__brand,
.jp-navbar__body,
.jp-sidebar,
.jp-sidebar__inner,
.jp-sidebar__menu.el-menu,
.jp-sidebar__menu-icon,
.jp-content__wrapper,
.jp-content--tabs > .el-tabs .el-tabs__header {
  transition: inline-block .3s, left .3s, width .3s, margin-left .3s, font-size .3s;
}


/* Navbar
------------------------------ */
.jp-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
  // box-shadow: 0 2px 4px rgba(0,0,0,.08);
  background-color: $navbar--background-color;
    .el-dropdown-link {
      color: #8f9398;
    }
  &--1 , &--2, &--3, &--5, &--7, &--8{
    .jp-navbar__body {
      background-color: transparent;
    }
    .el-menu {
      > .el-menu-item,
      > .el-submenu > .el-submenu__title {
        color: #fff;
        &:focus,
        &:hover {
          color: #fff !important;
          background-color: rgba(0,0,0,.1) !important;
        }
      }
      > .el-menu-item.is-active,
      > .el-submenu.is-active > .el-submenu__title {
        border-bottom-color: transparent;
        color: #ffffff !important;
        background-color: rgba(0,0,0,.1) !important;
      }
      .el-menu-item i,
      .el-submenu__title i,
      .el-dropdown .el-dropdown-link{
        color: #fff !important;
      }
    }
    .el-menu--popup-bottom-start {
      background-color: rgba(0,0,0,.1) !important;
    }
  }
  &--3, &--4, &--7{
    .jp-navbar__header {
      background: $sidebar--background-color-dark;
      border-bottom: 1px solid #101117;
    }
  }
  &--7{
      .jp-navbar__body {
        background-color:  $sidebar--background-color-dark;
      }
      .el-menu {
        > .el-menu-item,
        > .el-submenu > .el-submenu__title {
          color: rgba(163, 175, 183, 0.9);
        }
      }
  }
  &--6, &--8{
    background-color: white;
    .jp-navbar__header {
      background: white;
      .jp-navbar__brand{
        .jp-navbar__brand-lg, .jp-navbar__brand-mini{
          color: #515a6e;
        }
      }
      
    }
  }
  &__header {
    position: relative;
    float: left;
    width: 230px;
    height: 60px;
    overflow: hidden;
    // -webkit-box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
    // box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
    // border-right: 1px solid #f8f8f9;
  }
  &__brand {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    height: 60px;
    margin: 0;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    &-lg,
    &-mini {
      margin: 0 5px;
      color: #fff;
      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    &-mini {
      display: none;
    }
  }
  &__switch {
    font-size: 18px;
    border-bottom: none !important;
  }
  &__avatar {
    border-bottom: none !important;
    * {
      vertical-align: inherit;
    }
    .el-dropdown-link {
      > img {
        width: 36px;
        height: auto;
        margin-right: 5px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
  }
  &__body {
    position: relative;
    margin-left: 230px;
    padding-right: 15px;
    background-color: #fff;
    .el-menu--horizontal>.el-menu-item {
      border-bottom: 0px;
    }
  }
  &__menu {
    float: left;
    background-color: transparent !important;
    border-bottom: 0;

    &--right {
      float: right;
      .el-menu-item {
        border-bottom: 0;
        padding: 0 10px;
       }
      .el-menu-item.is-active {
        border-bottom: 0;
       }
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .el-menu-item,
    .el-submenu > .el-submenu__title {
      height: 60px;
      line-height: 60px;
    }
    .el-menu-item [class^=el-icon-] {
      margin-right: 0px;
    }
    .el-submenu > .el-menu {
      top: 55px;
    }
    .el-badge {
      display: inline;
      z-index: 2;
      &__content {
        line-height: 16px;
      }
    }
  }
}
/* Sidebar
------------------------------ */
.jp-sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 1020;
  width: 230px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  .jp-sidebar__menu-icon{
    margin-right: 5px;
  }

  &--2, &--6, &--8{
    background-color: white;
    .jp-sidebar__menu.el-menu {
      border-top: 1px solid #E4E7ED;
    }
  }
  &--3, &--4, &--7{
    .jp-sidebar__menu.el-menu {
      border-top: 1px solid #101117;
    }
  }

  &--1,
  &--1-popper,
  &--3,
  &--3-popper,
  &--4,
  &--4-popper ,
  &--7,
  &--7-popper  {
    background-color: $sidebar--background-color-dark;
    .jp-sidebar__menu.el-menu,
    > .el-menu--popup {
      background-color: $sidebar--background-color-dark;
      .el-menu-item,
      .el-submenu > .el-submenu__title {
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
        list-style: none;
        color: $sidebar--color-text-dark;
        &:focus,
        &:hover {
          color: mix(#fff, $sidebar--color-text-dark, 50%);
          background-color: mix(#fff, $sidebar--background-color-dark, 2.5%);
        }
      }
      .el-menu,
      .el-submenu.is-opened {
        background-color: mix(#000, $sidebar--background-color-dark, 15%);
        > .el-submenu__title {
          color: #fff;
        }
      }
      .el-menu-item.is-active,
      .el-submenu.is-active > .el-submenu__title {
        color: mix(#fff, $sidebar--color-text-dark, 80%);
      }
    }
  }
  &--5,
  &--5-popper,
  &--9,
  &--9-popper   {
    background-color: $sidebar--background-color-dark;
    .jp-menu-category {
      color: #ffffff;
    }
    .jp-sidebar__menu.el-menu,
    > .el-menu--popup {
      background-color: transparent;
      .el-menu-item,
      .el-submenu > .el-submenu__title {
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
        list-style: none;
        color: #fff;
        i {
          color: #fff;
        }
        &:focus,
        &:hover {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }
      .el-menu,
      .el-submenu.is-opened {
        background-color: transparent;
        > .el-submenu__title {
          color: #fff;
          i {
            color: #fff;
          }
        }
      }
      .el-menu-item.is-active,
      .el-submenu.is-active > .el-submenu__title {
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
  &__inner {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100%;
    padding-bottom: 15px;
    overflow-y: scroll;
  }
  &__menu.el-menu {
    width: 230px;
    border-top: 1px solid #31344826;
    border-right: 0;
  }
  &__menu-icon {
    width: 24px;
    // margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit !important;
  }
}

.width100 {
  width: 100%;
}

.el-submenu [class^=el-icon-] {
  vertical-align: middle;
  width: 24px;
  text-align: center;
  font-size: 14px;
}
.el-menu-item [class^=el-icon-] {
  width: 24px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
.el-menu--collapse>.el-menu-item [class^=el-icon-],
.el-menu--collapse>.el-menu-item [class^=fa],
.el-menu--collapse>.el-submenu>.el-submenu__title [class^=el-icon-],
.el-menu--collapse>.el-submenu>.el-submenu__title [class^=fa]{
  font-size: 20px
}

/* Content
------------------------------ */
.jp-content {
  position: relative;
  padding: 10px;

  &__wrapper {
    position: relative;
    padding-top: 60px;
    margin-left: 230px;
    min-height: 100%;
    background:transparent;
  }
  &--tabs {
    padding: 40px 0 0;
  }
  > .el-tabs {
    > .el-tabs__header {
      position: fixed;
      top: 60px;
      left: 230px;
      right: 0;
      // z-index: 930;
      padding: 0 95px 0 15px;
      background: #fff;
      // border-bottom: solid 1px #e4eaec;
      display: block;
      z-index: 100;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // position: relative;
      // padding: 0 10px;
      // margin-bottom: 10px;
      border-top: 1px solid #E4E7ED;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

      .el-tabs__item {
        margin: 0 3px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        font-weight: 400;
        color: #b1afaf;
        border: none;
      }
      .el-tabs__item.is-active {
        color: #409eff;
        border-bottom: 2px solid #409eff;
      }
      .el-tabs__nav {
        margin-bottom: 0;
        border: 0;
        &:after {
          display: none;
        }
      }
    }
    > .el-tabs__content {
      padding: 10px;
      > .jp-tabs__tools {
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 931;
        height: 36px;
        padding: 0 12px;
        font-size: 16px;
        line-height: 36px;
        // background-color: $content--background-color;
        cursor: pointer;
        .el-icon--right {
          margin-left: 0;
        }
      }
    }
  }
}

.help-block {
  color: #9ca0a7;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}

.jp-navbar .el-menu > .el-menu-item.is-active, .jp-navbar .el-menu > .el-submenu.is-active > .el-submenu__title {
  border-bottom-color: transparent;
  color: #526069;
  background-color: rgba(243,247,249,.6);
}


// 设置左侧菜单栏 end

.condition-container{
  .datetime {
      .el-input__inner{
          width:180px;
      }
  }
  .el-input__inner{
      width:141px;
  }
}
.irate{
  .el-icon-star-on{
    color:#67c23a !important;
  }
} 
.operation-container {
.cell {
  padding: 10px !important;
}
.el-button {
  &:nth-child(3) {
    margin-top: 10px;
    margin-left: 0px;
  }
  &:nth-child(4) {
    margin-top: 10px;
  }
}
}

.el-upload {
input[type="file"] {
  display: none !important;
}
}

.el-upload__input {
display: none;
}

.cell {
.el-tag {
  margin-right: 8px;
}
}

.small-padding {
.cell {
  padding-left: 8px;
  padding-right: 8px;
}
}

.status-col {
.cell {
  padding: 0 10px;
  text-align: center;
  .el-tag {
    margin-right: 0px;
  }
}
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
transform: none;
left: 0;
position: relative;
margin: 0 auto;
}


//textarea修改样式
.article-textarea {
textarea {
  padding-right: 40px;
  resize: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #bfcbd9;
}
}

//element ui upload
.upload-container {
.el-upload {
  width: 100%;
  .el-upload-dragger {
    width: 100%;
    height: 200px;
  }
}
}

.top-menu{
.el-badge__content{
  top: 12px !important;
}
}
.li-badge{
  .one{
      .el-badge__content{
          background-color: #a9d86e;
      }
  }
  .three{
     .el-badge__content{
          background-color: #FCB322;
      }
  }
}

// 搜索区域
.search-form{
width:100%;
min-width:750px;
.el-form-item{
    margin-bottom: 10px;
     .el-date-editor{
        width:166px;
        .el-input__inner{
            padding-right: 0;
        }
    }
}
}
.fillcontain{
.el-input__inner{
  height:30px !important;
  line-height: 30px !important;
}
}
.el-table th {
    word-break: break-word;
    color: rgba(0,0,0,.85);
    background-color: #fafafa !important;
}
.el-table.el-table--medium td{
  padding: 7px 0 !important;
}
.el-table.el-table--medium td.el-table__expanded-cell[class*=cell] {
  padding: 20px 50px !important;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #EBEEF5;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
color:#a9d86e !important;
}

.leftShareList{
width:200px;
}
.shareOther a{
color:#000000;
}
.moreShareList{
padding: 0;
ul{
  width:100%;
  a{
    color:#000000;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  a:hover{
    background: #e8e8e8;
  }
  li{
    display: flex;
    flex-direction: row;
    align-items: center;
    .svg-icon{
      margin-right: 10px;
    }
    span{
      line-height: 0;
    }
  }
}
}

.qcodepopper{
.wechat-area{
    align-items: center;
    .titles{
      font-size: 14px;
      background: #a9d86e;
      color:#fff;
      height: 30px;
      line-height: 30px;
      width:100px;
      text-align: center;
      border-radius: 20px;
    }
    img{
      width:100px;
      height:100px;
    }
}
}
.yanshare{
.shareUl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  li{
    display: flex;
    flex:1;
    justify-content: center;
    cursor: pointer;
  }
}
}
.yanSharewx{
padding: 10px 0;
width:100px !important;
.qrcodeArea{
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100px;
  margin: 0 auto;
  .saoTitle{
    font-size: 14px;
    color:#a9d86e;
    margin-bottom: 5px;
  }
}
}



.salesPrice{
span{
  font-weight: bold;
}
}
.salesStatus{
span{
   font-size: 12px;
   padding: 5px 10px;
   color:#fff;
   border-radius: 5px;
}
}
.salesUsername{
 .cell{
   display: flex;
   align-items: center;
    .userImg{
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
 }
}

// .cardBody{
//  .el-card__body{
//    display: flex;
//    flex-direction: column;
//  }
// }
.logContainer{
.box-card{
  height: 100%;
  .el-card__body{
    padding: 10px 20px;
    height: 80%;
  }
  .item{
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
  }
}
}
.red {
  color: red;
}
.query-form {
  padding-top: 25px;
  background-color: #f2f2f2;
  padding-left: 25px;
  margin-bottom: 30px;
}
.table {
  margin-top: 10px
}
.jp-navbar__menu.el-menu--horizontal.el-menu{
  border-bottom: 0px;
}
.jp-navbar__menu >.el_menu_item{
  width:124px;
  padding-left: 10px;
  padding-right: 10px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
    > .el-dialog__body {
      overflow: auto;
      color: #666666;
  }
}
.zZindex {
  z-index:6000 !important;
}
.act-form {
  padding-left: 10px;
  padding-right: 10px;
}
.pull-right {
  text-align: right;
}
.showPic {
  width: 80% !important;
}
.el-tree-node__content .tree-item-button{
  display: none;
}
.el-tree-node__content:hover .tree-item-button{
  display: unset;
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.filter-tree{
  margin-top: 15px;
}
.bg-white {
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 4px;
    overflow: hidden;
    padding: 20px;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 10px;
  padding-right: 10px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px !important;
  text-align: center;
}
.avatar {
  width: 150x;
  height: 150px;
  display: block;
}
.el-form-item__content .el-input-group {
  vertical-align: middle !important;
}
.readonly .el-input.is-disabled .el-input__inner ,
.readonly .el-textarea.is-disabled .el-textarea__inner ,
.readonly .el-input.is-disabled .el-input__inner {
    background-color: #f5f7fa8a;
    border-color: #E4E7ED;
    color: #606266;
    cursor: not-allowed;
}
.el-dialog__header {
  border-bottom: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
}
.el-dialog__footer {
  border-top: 1px solid #e8e8e8;
  border-radius: 0 0 4px 4px;
}
.el-table td img {
  max-width: 100%;
}
.el-table .el-table__row .el-link{
  display: contents;
}